
.container {
    display: grid;
    
    height: 800px;
    width: 700px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    margin-top: 30px;
}


